.thumbnail {
  width: 200px;    /* size of thumbnail */
  height: auto;    /* keeps aspect ratio */
  margin-bottom: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
}

.name,.link,.price {
    margin-bottom: 20px;
    display: block;
}
.link {
    color: rgb(0, 113, 133);
}

.link:hover {
    color: orange;
}

.name {
    font-size: 35px;
    font-weight: bold;
}

.price {
    color: rgb(0, 118, 0);
}

.add {

    background-color: rgb(255, 216, 20) ;
    border: none;
    height: 35px;
    width: 45%;
    border-radius: 20px;
    transition: opacity 0.2s, scale 0.2s;
    margin-right: 8%;
    }

.add:hover {
    cursor: pointer;
}

.add:active {
    opacity: 0.5;
    scale: 0.95;
}

.buy {
    background-color: rgb(255, 164, 28) ;
    border: none;
    height: 35px;
    width: 45%;
    border-radius: 20px;
    transition: opacity 0.2s, scale 0.2s;
}

.buy:hover {
    cursor: pointer;
}

.buy:active {
    opacity: 0.5;
    scale: 0.95;
}
