/* ---------- Base ---------- */
html, body {
    font-family: "Borel", cursive;
    background: black;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    scroll-padding-top: 75px;
    scroll-behavior: smooth;
}

/* ---------- Parallax background ---------- */
.body-bg {
    background-image: url("thumbnails/chanpet.png");
    background-repeat: no-repeat;
    background-position: center 0;

    position: fixed;
    inset: 0;
    z-index: 0;
    top: -70px;

    will-change: transform;
    transform: translateY(0);
    pointer-events: none;
}
/* Hide background for top and bottom*/
.hide-bg-top {
    display: block;
    background-color: black;
    position: relative;
    height: 75px;
    z-index: 1;
}

/* ---------- Navbar ---------- */
.head-page {
    position: fixed;
    padding-left: 30px;
    padding-top: 5px;

    display: flex;
    align-items: center;

    height: 70px;
    width: 100%;
    z-index: 1000;

    background-color: rgba(40,40,40,0.8);
}

.menu-link {
    font-size: 24px;
    font-weight: 12px;
    text-decoration: none;

    color: white;
    margin: 0;
    line-height: 1;
}

/* ---------- Sections ---------- */
main {
    position: relative;
    z-index: 1;
}

.section,.section--dark {
    min-height: 80vh;
    padding: 24px;
    background-color: #faf0e6;

    display: flex;
    align-items: center;
    justify-content: center;

}

.section--dark {
    background: transparent;
    color: white;
}

/* Text content */
.name {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* -------- Bottom page -------- */
.bot-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 75px;
    width: 100%;
    position: relative;
    background: black;
}

.bot-link {
    padding-right: 30px;

    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

    color: white;
    margin: 0;
    line-height: 1;
}